*{
    margin: 0;
    padding: 0;
}

section h2 {
    font-size: 45px;
}
.first-section{
    padding: 10px 15px;
    background-color: aqua;
}
.first-section{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cente;
    background-size: cover;
    padding: 10rem;
    text-align: center;
    font-size: 50px;
    justify-content: space-between;
}
.btn-primary{
    background-color: blueviolet;
    color: white;
    padding: 10px 15px;
    border-radius: 5px              ;
    height: 40px;
    width: 150px;
}
.head-move{
    display: flex;
    background-image: url(../Assets/Hero-bg.png);
    justify-content: space-between;
    margin: 0;
    font-size: 1.25em;
    background-color: blue;
    font-display: red;
    align-items: center;

}
/* about action section */

.about-action-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
    margin: 0 150px;
    background-color: rgb(217, 223, 223);
    margin-top: 100px;
    }
.about-sub-div2{
    width: 500px;
    margin-top: 0 auto;
}
.about-sub-div2 h2{
    font-size: 50px;
}
.about-sub-div2 p{
    color: #252432;
    margin: 15px 0;
    /* margin-left: 30px; */
    margin-top: 30px;
}

/* actiov user */

.father-div{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    text-align: center;
    margin: 30px 400px;
    width: 0 auto;
    height: 0 auto;
    background-color:#E5E7FF
    
}
.special-div{
text-align: center !important;
margin-top: 200px;
}

.special-font-size{
    font-size: 4em;
    color:#4E47FF
}
.special-font-size-2{
    font-size: 1em;
    color: #72737F;
}
/* icon bar */


.section-title{
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 1140;

}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px yellow;
}

/* focus */

.inside-div{
    font-size: 2em;
    /* align-items: center; */
    text-align: center;

}
.image-align{
    margin-top: 100px;
    margin-bottom: 80px;
}
.focus-better{
    background-color: #72737F;
    width: 0 auto;
    margin: 100px 100px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 500px;
    margin-bottom: 300px;
    box-sizing: content-box;
    
}
form input{
    height: 100px
    width: 500px;
}

/* form section */

.final-work{
    text-align: center;
    
}
.list-work{
    display: flex;
    justify-content: space-between;
    margin: 200px 200px;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.color{
    color: #4E47FF;
}