


.inter-normal  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
/* Shared style  */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5%;
    border: none;
    justify-content: center;
}


/* nav styles */
nav ul{
display: flex;
justify-content:space-between;
margin: 0px 200px;
margin-left: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between
    
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 30px;
   
}
nav ul a{
    font-size: 20px;
}
/* Banner styles */
.bannet-content{
   text-align: justify;
   margin-right: 10px;

}
.banner{
    background-image: url(../Assets/Hero-bg.png);
    /* margin-right: 50px; */
    /* margin-left: 20px; */
}
.bannet-content{
    display: flex;
    justify-content: center;
}
.align{
    display: flex;
    justify-content: center;
}
.button-stay{
    text-align: center;
}




main{
    background-color: #feffff;
    height: 380px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.leftcection{
border: none;
width: 47%;
}
.rightsection{
border: 1px solid #4E47FF;
width: 47%;
height: 300px;
width: 300px;
}
main section button{
    margin-top: 20px;
    border: 0;
    color: white;
    width: 270px;
    height: 56px;
    background-color: #4E47FF;
    border-radius: 10px;
    font size:20px;
    
    
    
}